#btn-box {
    display: flex;
    justify-content: space-between;
}

#keyboard-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 10px;
}

.keyboard-key {
    width: 60px;
    margin: 3px;
    padding: 10px;
    font-size: 20px;
}

#space-button {
    width: 80px;
}

.form-control {
    text-align: center;
    height: 50px;
    margin-top: 10px;
}

.btn-warning{
    text-align: center;
    height: 50px;
    margin-top: 10px;
}

#shift-button {
    width: 60px;
    margin: 3px;
    padding: 10px;
    font-size: 20px;
}

#success-area {
    text-align: center;
}

.translit-result {
    float: left;
    width: 40%;
    margin: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.translit-result h4 {
    margin-top: 10px;
}

.translit-result hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 767px){
    #btn-box {
        display: block;
    }

    .language {
        width: 100%;
        margin-bottom: 3px;
        display: block;
        float: none;
        clear: both;
    }
}